<!DOCTYPE html>
<html>
    <%- partial('_partial/header') %>
    <body>
        <div>
            <%- partial('_partial/menu') %> 
        </div>
        <!--END OF MENU-->
    <div class="container-fluid">
    <p>Copyright © 2021-now <a href="https://255650.xyz">VanllaOcap</a> Theme by myself</p>
    </div>
    <!--END OF MAIN CONTENT-->
    <%- partial('_partial/footer') %>
    </body>
</html>